# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Databases / Local Data
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Jupyter / ML
# =========================
.ipynb_checkpoints/
*.pt
*.pth
*.h5
*.onnx

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Cache / Temp
# =========================
.cache/
.pytest_cache/
.mypy_cache/